<!DOCTYPE html>
<html lang= "en">
<head> 
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Double</title>
	<style type="text/css" media="screen">
	.wrap {
	margin: 0 auto;
	width: 800px;
	}
	section{
		width: 525px;
		margin-right: 25px;
		float:left;
	}
	aside{
		width: 250px;
		float: left;
	}
	footer{
		clear: both;
		border-top: 1px solid #e3e3e3;
	}
	
	</style>
</head>
<body>
	<div class="wrap">
		<header>
		<h1>This is a header</h1>
		</header>
		<section>
			<p> lorlkfj lkasjdlf alksdjfowi akslfjoapjowp  l;kajsfo wal joas ofwjoa jasdjfo wa ajso 
			j flkawojfow ajlfaj ojwoa jlkjasofjowe lajo owaj ljlfjaowjof jiwajl ;joajwof jsajofow jowjao j
			flkasdjfo wojfo ajowj ofwjoj foia.</p>
			<p>fkjwoajfoaijfjwoajfoij oiwjofjoaj oifj oijaofj oiwjeiofj ajeoi jfaoigahgkafaj w ojghaihg a 
			 fwoafoawjfiwoj opao jwoiaj iahgoijapi iah oai ogahohg iaj ah ogasoigigjaijww hgoajgjhajj ajo head
			 jfaw oao hogaho.</P>
		</section>
		<aside>
			<p>blah blah blah blah blah bala akshdfka kashfkw lsf alf saghaskhf sldfhsg alshfkas ahk
			blah blah blah blah blah bala akshdfka kashfkw lsf alf saghaskhf sldfhsg alshfkas ahk
			blah blah blah blah blah bala akshdfka kashfkw lsf alf saghaskhf sldfhsg alshfkas ahk
			blah blah blah blah blah bala akshdfka kashfkw lsf alf saghaskhf sldfhsg alshfkas ahk</p>
			<p> lorlkfj lkasjdlf alksdjfowi akslfjoapjowp  l;kajsfo wal joas ofwjoa jasdjfo wa ajso 
			j flkawojfow ajlfaj ojwoa jlkjasofjowe lajo owaj ljlfjaowjof jiwajl ;joajwof jsajofow jowjao j
			flkasdjfo wojfo ajowj ofwjoj foia.</p>
		</aside>
		<footer>
			<p> This is a footer</p>
		</footer>
	</div>
</body>
</html>